!!! 5
%head
  %title mquzz
  %meta{'charset' => 'utf-8' }
  %meta{'name' => 'description', 'content' => 'mquzz ist ein Filmquiz mit einem neuen Zitat täglich. Teste dein Filmwissen auf die andere Art.' }  
  %meta{'name' => 'author', 'content' => 'Oliver Heck' }
  %meta{'name' => 'keywords', 'content' => 'filmzitate raten, filmzitat, zitate filme, filmquiz, täglich Zitat' }
  
  /Mobile viewport optimization h5bp.com/ad
  %meta{'name' => 'HandheldFriendly', 'content' => 'True' }
  %meta{'name' => 'MobileOptimized', 'content' => '320' }
  %meta{'name' => 'viewport', 'content' => 'width=device-width' }
  
  /iOS web app, delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94
  %meta{'name' => 'apple-mobile-web-app-capable', 'content' => 'yes' }
  %meta{'name' => 'apple-mobile-web-app-status-bar-style', 'content' => 'black' }
  
  /The script prevents links from opening in mobile safari. https://gist.github.com/1042026
  :javascript
    (function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")
  
  /Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading
  %meta{'http-equiv' => 'cleartype', 'content' => 'on' }
  
  %link(rel="stylesheet" href="css/font/font.css?v=2")
  %link(rel="stylesheet" href="css/style.css?v=2")
  %link(rel="stylesheet" href="css/mquzz.css?v=2")

%body
  %div#mq-container.clearfix
    %header#mq-area-header
      %div#mq-area-header-info
        %span mquzz
        %span#mq-area-header-nr #24
      %div#mq-area-header-help
        %div i
  
  
    %div#mq-area-topper.mq-column
      %div#mq-area-topper-cont
        %span#mq-area-topper-date.mq-detail-info datum: 02.05.2012
        %span#mq-area-topper-perc.mq-detail-info quote: 33%  
    
    %div#mq-area-overview.mq-column
      %ol
        %li
          %div.mq-list-item 1
      
    %div#mq-area-main.mq-column
      %div#mq-area-request
        %div#mq-area-player
          %canvas#mq-player
        
        %div#mq-area-input
          %div#mq-area-input-field
            %input.mq-input{ 'name' => 'solution' }
          
          %div#mq-area-input-btn
            %a.mq-button go
        
        %div#mq-area-hint-v
          %div#mq-area-hint-data hauptdarsteller ist Jack Nichelson
      
      %div#mq-area-result
        du hattest recht
      
      %footer
        %div#mq-area-footer
          %div#mq-area-footer-left.mq-footer-col
            %span.mq-btn-nav <<
          
          %div#mq-area-footer-center.mq-footer-col
            %span.mq-btn-nav zufall
            
          %div#mq-area-footer-right.mq-footer-col
            %span.mq-btn-nav >>  
    
    %div#mq-area-help.mq-column
      %div#mq-area-help-popup
        %div#mq-area-help-content
          %div#mq-area-help-www
            %h4 Impressum
            %img{ :src => 'img/impressum.png' }
            %br
            %strong
              %a{ :href => 'http://twitter.com/mquzz', :target => '_blank' }
                folgen @twitter
            %h4 Regeln
            %h6
              Wie funktioniert das hier?
            %p.mq-light
              1.) Lautstärke hochdrehen
              %br
              2.) Filmzitat auswählen
              %br
              3.) Titel raten und abschicken
              %br
            %h6
              Welcher Titelname kann eingegeben werden und wird als richtig gewertet?
            %p.mq-light
              Der korrekte Titel ist der Web-Seite
              %a{ :href => 'http://imdb.com', :target => '_blank' }
                %code
                  http://imdb.com
              entnommen. Da es sich hier jedoch um ein Quiz in deutscher Sprache handelt, sind die laut imdb angegebenen, deutschen Titel korrekt.
              Zusätzlich ist auch noch der englische Titel gültig. Beispiel: Es wird bei einem entsprechenden Zitat entweder der deutsche Filmtitel
              %em Stirb Langsam
              oder der englische Originaltitel
              %em Die Hard
              als korrekt gewertet. Groß- und Kleinschreibung wird dabei nicht unterschieden und bis zu einem gewissen Grad werden auch Tippfehler toleriert.


  %script(src="/js/libs/zepto.min.js")
  %script(src="/js/libs/underscore-min.js")
  %script(src="/js/libs/backbone-min.js")
  %script(src="/js/libs/buzz.js")
  %script(src="/js/libs/iscroll-lite.js")
  %script(src="/js/libs/h5bphelper.js")
  
  %script(src="/js/mq-player.js")
  %script(src="/js/mq-app.js")
  
  /[if lt IE 7]
    %script(src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js")
    :javascript
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})

  :javascript
    $(function(){
      quotes = new QuoteList;
      var help = new HelpView,
          qq = new QuoteListView({collection: quotes});
      
      if (!buzz.isSupported()){
        $('#mq-container').html('Dein Browser untersützt diese Seite nicht.');
        return;
      }
      setTimeout(function () {
        myScroll = new iScroll('mq-area-help-content', {hScroll: false, hScrollbar: false, vScrollbar: false});
      }, 100);
      
      window.quotes.reset(#{@quotes.to_json()});
      window.quotes.home();
      qq.render();
    });
    
  %script{ :type => 'text/template', :id => 'mq-tmpl-quotes' }
    <% quotes.each(function(quote){ %>
    <% if (quotes.current().id === quote.id) { %>
    <li data-mq-number='<%= quote.get('number') %>'><div class='mq-box mq-list-item mq-box-current'><%= quote.get('number') %></div></li>
    <% } else if (quote.wasEvaluated()) { %>
    <li data-mq-number='<%= quote.get('number') %>'><div class='mq-box mq-list-item mq-box-evaluated'><%= quote.get('number') %></div></li>
    <% } else { %>
    <li data-mq-number='<%= quote.get('number') %>'><div class='mq-box mq-list-item'><%= quote.get('number') %></div></li>
    <% } %>
    <% }); %>


  %script{ :type => 'text/template', :id => 'mq-tmpl-correct' }
    %div.mq-area-result-top
      %div.mq-area-result-img
        %img{:src => 'img/correct.png', :alt => 'Korrete Antwort'} 
      %div.mq-area-result-txt.mq-normal
        Glückwunsch, das ist <span class='mq-big'>richtig!<span>
    %div.mq-area-result-main.mq-light
      %div
        Deine Antwort war
        %span.mq-highlight
          <%= posted %>.
        Mögliche Antworten waren
        %span.mq-highlight
          <% _.each(titles, function(title){ print(title + ', '); }); %>.
        Bisher wurde dies
        %span.mq-highlight
          <%= solutions %>
        mal gelöst, was bei insgesamt
        %span.mq-highlight
          <%= commits %>
        Einsendungen einer Lösungsquote von
        %span.mq-highlight
          <%= rate %>%
        entspricht.
      %div.mq-area-result-links
        %div.mq-area-result-link
          <a target='_blank' href='<%= info %>'><div class='mq-area-result-btn'>info</div></a>
        %div.mq-area-result-link
          <a target='_blank' href='<%= trailer %>'><div class='mq-area-result-btn'>trailer</div></a>
        %div.mq-area-result-link
          <a target='_blank' href='<%= buy %>'><div class='mq-area-result-btn'>amazon</div></a>

  %script{ :type => 'text/template', :id => 'mq-tmpl-wrong' }
    %div.mq-area-result-top
      %div.mq-area-result-img
        %img{:src => 'img/wrong.png', :alt => 'Falsche Antwort'} 
      %div.mq-area-result-txt.mq-normal
        Die Antwort war <span class='mq-big'>falsch.<span>
    %div.mq-area-result-main.mq-light
      %div
        Deine Antwort war
        %span.mq-highlight
          <%= posted %>.
        Mögliche Antworten waren
        %span.mq-highlight
          <% print(_.sentence(titles)); %>.
        Bisher wurde dies
        %span.mq-highlight
          <%= solutions %>
        mal gelöst, was bei insgesamt
        %span.mq-highlight
          <%= commits %>
        Einsendungen einer Lösungsquote von
        %span.mq-highlight
          <%= rate %>%
        entspricht.
      %div.mq-area-result-links
        %div.mq-area-result-link
          <a target='_blank' href='<%= info %>'><div class='mq-area-result-btn'>info</div></a>
        %div.mq-area-result-link
          <a target='_blank' href='<%= trailer %>'><div class='mq-area-result-btn'>trailer</div></a>
        %div.mq-area-result-link
          <a target='_blank' href='<%= buy %>'><div class='mq-area-result-btn'>amazon</div></a>