/*--------------------------------------------------------------------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ol, li {
    list-style: none;
}
body{
    font-family: RobotoLight;
    font-size: 1em;
    background-color: #0e1013;
    color: white;
}
header{
    font-family: RobotoLight;
    font-size: 1.5em;
    border-bottom: 4px solid #29a0cb;
    padding: 4px 8px;
}
footer{
    border-top: 4px solid #29a0cb;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/*--------------------------------------------------------------------------*/
.mq-column{
    float: left;
    display: inline;
    width: 100%;
}
.mq-detail-info{
    font-family: RobotoLight;
    font-size: 0.85em;
    margin-right: 15px;
}
.mq-footer-col{
    display: table-cell;
}
.mq-footer-col span:hover{
    cursor: pointer;
}
.mq-btn-nav{
    font-family: RobotoThin;
    font-size: 1.0em;
    padding: 7px 9px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid white;        
}
input.mq-input{
        font-family: RobotoLight;
        padding: 15px 5px 7px 5px;
        width: 100%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}
a.mq-button{
	font-family: RobotoRegular;
        font-size: 1.75em;
        padding: 7px 15px 7px 15px;
	color: #fff;
	background-color: #fe57a1;
	border: 1px solid #da327e;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
        cursor: pointer;
}
a.mq-button:hover{
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}
#mq-container{
    margin: 0 auto;
}
/*--------------------------------------------------------------------------*/
#mq-area-overview{
    display: none;
    visibility: hidden;
}
#mq-area-player{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#mq-player:hover{
    cursor: pointer;
}
#mq-area-main{
}


#mq-area-header{
    display: table;
    width: 100%;
}
#mq-area-header-info{
    display: table-cell;
}
#mq-area-header-nr{
    color: #fe57a1;
}

#mq-area-header-help{
    display: table-cell;
    text-align: center;
    width: 30px;
    cursor: pointer;
}
#mq-area-header-help div{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid white;    
}

#mq-area-topper{
    border-bottom: 1px solid #29a0cb;
    margin-bottom: 0px;
    width: 100%;
}
#mq-area-topper-cont{
    margin: 4px 8px;
}



#mq-area-input{
    display: table;
    width: 100%;
    margin-bottom: 15px;
}
#mq-area-input-field{
    display: table-cell;
    padding-right: 10px;
}
#mq-area-input-btn{
    display: table-cell;
    text-align: left;
    width: 60px;
}
#mq-area-hint-v{
    margin-bottom: 10px;
}
#mq-area-hint-v div{
    font-family: RobotoThin;
    font-size: 1em; /*0.85em; */
    border-right: 30px solid #29a0cb;
    border-top: 1px solid  #29a0cb;
    border-bottom: 1px solid  #29a0cb;
    
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;    
    
    padding-top: 10px;
    padding-bottom: 4px;
    width: 0px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}
#mq-area-footer{
    margin-top: 17px;
    display: table;
    width: 100%;
}
#mq-area-footer-left{
    text-align: left;
}
#mq-area-footer-center{
    text-align: center;
}
#mq-area-footer-right{
    text-align: right;
}



.mq-area-result-top{
    display: table;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
}
.mq-area-result-img{
    display: table-cell;
    text-align: right;
}
.mq-area-result-txt{
    display: table-cell;
    text-align: left;
    padding-left: 10px;
}


.mq-area-result-main{
    margin: 10px 10px 10px 10px;
}
.mq-area-result-links {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}
.mq-area-result-link {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    display: inline-block;
}
.mq-area-result-btn {
    padding: 5px 5px;
    background-color: #29a0cb;
    width: 100px;
}
.mq-big{
    font-family: RobotoThin;
    font-size: 2.5em;
}
.mq-light{
    font-family: RobotoLight;
    font-size: 0.9em;    
}
.mq-thin{
    font-family: RobotoThin;
    font-size: 0.9em;    
}
.mq-normal{
    font-family: RobotoRegular;
    font-size: 1.0em;
}
.mq-highlight{
    font-family: RobotoRegular;
    font-size: 1.1em;
}


/*--------------------------------------------------------------------------*/
/* HELP VIEW */
#mq-area-help-popup{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background: rgba(0, 0, 0, 0.7);
}
#mq-area-help-content{
  position: fixed;
  width: 240px;
  height: 340px;
  margin: -170px 0 0 -120px;
  left: 50%;
  top: 50%;
  z-index: 99;
  border: 10px solid #0a0a0b;
  overflow: hidden;
  /*
  overflow-y: scroll;
  */
  background-color: #13161a;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/*--------------------------------------------------------------------------*/
/* SMARTPHONES - PORTRAIT & LANDSCAPE */
@media
only screen and (min-device-width: 320px) and (max-device-width: 480px),
only screen and (min-width: 320px) and (max-width: 480px) {
    #mq-container{
        width: 95%;
    }
}
/*--------------------------------------------------------------------------*/
/* SMARTPHONES - LANDSCAPE */
@media 
only screen and (min-width: 321px) {
    #mq-container{
        width: 95%;
    }
}
/*--------------------------------------------------------------------------*/
/* SMARTPHONES - PORTRAIT */
@media 
only screen and (max-width: 320px) {
    #mq-container{
        width: 95%;
    }
}
/*--------------------------------------------------------------------------*/
@media 
only screen and (min-width: 1024px) {
    #mq-container{
        width: 70%;
    }
    #mq-area-overview{
        display: block;
        visibility: visible;
        width: 40%;
    }
    
    #mq-area-overview li {
	float: left;	
    }
    .mq-list-item{
	display: block;
	cursor: pointer;
	background-color: #29a0cb;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-family: RobotoThin;
	font-size: 2.2em;
	width: 70px;
    }
    .mq-box-evaluated{
	background-color: #185d77; /*#1d6e8c;*/
    }
    .mq-box-current{
	background-color: #fe57a1;
    }
    #mq-area-main{
        width: 60%;
    }
    #mq-area-footer-right,
    #mq-area-footer-center,
    #mq-area-footer-left{
        display: none;
        visibility: hidden;    
    }
    #mq-area-topper{
        margin-bottom: 15px;
    }
    #mq-area-help-content{
      width: 600px;
      height: 600px;
      margin: -300px 0 0 -300px;
    }    
}
/*--------------------------------------------------------------------------*/